
# The variable GV_base_dir is the directory in which the main script is located.

# Directory in which the sysroot should be installed
UV_sysroot_dir="${GV_base_dir}/../sysroot"

# Directory in which the stripped firmware will be installed
UV_firmware_dir="/Users/mosebach/Documents/workspace/wally/Firmware-core/pi2"

# Directory in which the downloads are to be loaded
UV_download_dir="${GV_base_dir}/../../cross-sysroot-downloads"

# Directory where the toolchain is located (exclude bin directory)
UV_toolchain_dir="/usr/local/linaro/arm-linux-gnueabihf"

# Target architecture
UV_target="arm-linux-gnueabihf"

# location of libc in the cross-compiler
#UV_toolchain_libc="sysroot"
UV_toolchain_libc="${UV_target}/libc"

# Target Board
# softfloat:  Default soft float boarde
# hardfloat:  Default hard float boarde 
# raspi:      Raspberry PI
# beaglebone: BeagleBone / Beglebone black
#
UV_board="raspi2"

#
#   Set modules to build
#   base - basic system
#   cam  - camera + opencv support
#   small - small system
#
UV_modules="cam"

#  Enable developer mode (does not delete libs+includes from firmware)
UV_devel="true"

# 
# QT-Setup
#

# QT install directory for host enviroment 
UV_qt_dir="/usr/local"

# QT Version - set to "true" to install.
# Note: It can be installed both versions. But Qt5 is experimentel and can
#       corrupted Qt4 as well.
UV_qt_4=true
UV_qt_5=false
