GV_build_formulas=(
	"zlib"
	"libtool"
	"cryptodev"
	"openssl"
	"dropbear"
	"libpng"
	"freetype"
	"curl"
	"jpeg"
#	"socat"
	"libuv"
	"ncurses"
	"alsa-lib"
	"alsa-utils"
	"ffmpeg"
	"dmalloc"
	"raspberry-firmware"
        "sdl2"
        "sdl2_image"
        "sdl2_ttf"
        "sdl2_gfx"
	"busybox"
#	"uclib"
	"libc"
	"libnl"
	"wpa_supplicant"
	"wallyd"
	"liblzo"
	"openvpn"
)
